/* -------------------- CONTACTO ------------------- */
.formularioContacto {
  background-color: #3a3333; }

.labelContacto {
  color: #fff; }

.divContacto {
  font-size: 1.9em;
  color: #fff;
  padding: 20px;
  background-color: #3a3333; }

.fieldsetContacto {
  padding: 20px;
  margin-left: 10px; }

form {
  background-color: #3a3333;
  border-radius: 3px;
  color: #999;
  font-size: 1.85rem;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left; }

input, textarea {
  border: 0;
  border-radius: 5px;
  outline: none;
  resize: none;
  width: 50%; }

textarea {
  height: 120px; }

.contactoImagen {
  position: absolute;
  width: 48%; }

.fieldContacto {
  border: solid 1px #ccc;
  padding: 10px; }

.fieldContacto:focus {
  border-color: #000000; }

.buttonContacto {
  display: flex;
  align-items: center;
  justify-content: center; }

.inputContacto {
  color: #3a3333;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  background-color: #FFD25A;
  cursor: pointer;
  box-shadow: 0px 3px 15px 3px rgba(0, 0, 0, 0.2);
  width: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center; }

.inputContacto:hover {
  color: #000000;
  background-color: #be9c44;
  transition: all ease-in-out 600ms; }

.divContacto {
  font-size: 3.5rem;
  text-align: center; }

@media screen and (max-width: 768px) {
  input, textarea {
    border: 0;
    border-radius: 5px;
    outline: none;
    resize: none;
    width: 100%;
    background-image: url(../images/contacto.svg);
    background-size: auto; }
  .contactoImagen {
    display: none; } }

@media (width: 1366px) {
  .imgContacto {
    display: flex;
    justify-content: right;
    align-items: right;
    position: relative;
    top: 60px; } }

/* ----------- ENCUESTA & CONTACTO TEXTAREA ------------- */
.textArea textarea {
  resize: none; }

.campoEncuesta {
  margin: 20px;
  background-color: #3a3333; }

/* ------------------------ FOOTER ------------------------ */
.rightsReserved {
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Glory', sans-serif !important;
  color: #fff;
  font-size: 1.8rem; }

footer {
  background-color: #3a3333; }

@media screen and (max-width: 600px) {
  .rightsReserved {
    font-size: 1.6rem; } }

/* ---------- GENERAL ---------- */
header {
  background-color: #FFD25A; }

main {
  background-color: #FFD25A; }

body {
  font-family: 'Glory', sans-serif !important;
  margin: 0px;
  width: 100%; }

/* ------------- INDEX ----------- */
.nuestrasHamburguesas {
  color: #fff;
  font-size: 1.3em;
  padding: 20px; }

.hrHamburguesas {
  border-color: #FFD25A !important;
  background-color: #FFD25A !important;
  opacity: 5 !important;
  display: block !important;
  unicode-bidi: -webkit-isolate !important;
  unicode-bidi: isolate !important;
  -webkit-margin-before: 0.5em !important;
  margin-block-start: 0.5em !important;
  -webkit-margin-after: 0.5em !important;
  margin-block-end: 0.5em !important;
  -webkit-margin-start: auto !important;
  margin-inline-start: auto !important;
  -webkit-margin-end: auto !important;
  margin-inline-end: auto !important;
  overflow: hidden !important;
  border-style: inset !important;
  border-width: 1px !important; }

.burguersIndex {
  font-family: 'Glory', sans-serif;
  font-size: 23px;
  background-color: #3a3333; }

.imagenIndex {
  margin: 40px;
  margin-right: 35px;
  margin-top: 30px;
  width: 300px;
  height: 200px; }

.carouselImage {
  width: 100%;
  height: 47rem; }

.carousel-inner {
  height: 47rem; }

.nuestrasHamburguesas {
  font-size: 3.5rem;
  text-align: center; }

@media only screen and (max-height: 900px) {
  .carousel-inner {
    height: 59.15rem; }
  .carouselImage {
    width: 100%;
    height: 59.37rem; } }

@media only screen and (min-height: 950px) {
  .carousel-inner {
    height: 71.7rem; }
  .carouselImage {
    width: 100%;
    height: 71.7rem; } }

/* ----------------- INFORMATION ----------------- */
.informacionAdicional {
  background-color: #FFD25A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 7.5rem; }

.telefonoLugar {
  color: #3a3333;
  margin: 25px;
  font-weight: 700;
  font-size: 1.7rem; }

.correoLugar {
  color: #3a3333;
  font-weight: 700;
  font-size: 1.7rem; }

.ubicacionLugar {
  color: #3a3333;
  margin: 25px;
  font-weight: 700;
  font-size: 1.7rem; }

@media screen and (max-width: 600px) {
  .telefonoLugar {
    color: #3a3333;
    margin: 25px;
    font-weight: 700;
    font-size: 1.3rem; }
  .correoLugar {
    color: #3a3333;
    font-weight: 700;
    font-size: 1.3rem; }
  .ubicacionLugar {
    color: #3a3333;
    margin: 25px;
    font-weight: 700;
    font-size: 1.3rem; } }

/* ---------- MENU -------- */
.hamburguesaMenu {
  background-color: #3a3333;
  color: #fff; }

.hrOpciones {
  border-color: #FFD25A !important; }

.nuestrasOpciones {
  background-color: #3a3333;
  padding: 20px; }

.opcionesSizeMenu {
  font-size: 3.5rem;
  color: #fff;
  text-align: center; }

.baconCheese {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.baconCheese figure {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 15px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 15px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width: 300px;
  height: 200px;
  right: 30px;
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 6rem; }

.baconCheese figure img {
  width: 300px;
  height: 200px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out; }

.baconCheese figure .descriptionBurguer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 22, 22, 0.7);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  font-size: 1.8rem; }

.baconCheese figure:hover > .descriptionBurguer {
  opacity: 1;
  visibility: visible; }

.baconCheese figure:hover > .descriptionBurguer h3 {
  margin-top: 70px;
  margin-bottom: 15px; }

.baconCheese figure:hover > img {
  -webkit-transform: scale(1.25);
  transform: scale(1.25); }

.baconCheese figure .descriptionBurguer h3 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 120px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out; }

.baconCheese figure .descriptionBurguer p {
  color: #fff;
  font-weight: 300; }

.baconCheese figure .descriptionBurguer .veggieBurguer {
  color: #07d300; }

/* GRID NUESTRAS OPCIONES */
.baconCheese {
  font-family: 'Glory', sans-serif;
  background-color: #3a3333;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(3, 1fr);
  /*                        */ }

@media (max-width: 420px) {
  .baconCheese figure {
    margin-left: 65px; }
  .baconCheese figure img {
    height: 100%;
    width: 100%; }
  .baconCheese {
    font-family: 'Glory', sans-serif;
    background-color: #3a3333;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr); } }

@media (min-width: 421px) and (max-width: 540px) {
  .baconCheese {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr); }
  .baconCheese figure {
    margin-left: 125px; } }

@media (min-width: 541px) and (max-width: 768px) {
  .baconCheese {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr); }
  .baconCheese figure {
    margin-left: 235px; } }

@media (min-width: 769px) and (max-width: 1279px) {
  .baconCheese {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr); }
  .baconCheese figure {
    margin-left: 370px; } }

@media (min-width: 1280px) and (max-width: 1365px) {
  .baconCheese figure {
    width: 320px;
    height: 215px; }
  .baconCheese figure img {
    width: 320px;
    height: 215px;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out; } }

@media (min-width: 1366px) and (max-width: 1439px) {
  .baconCheese figure {
    position: relative;
    right: 6px; } }

@media (min-width: 1440px) and (max-width: 1919px) {
  .baconCheese figure {
    width: 330px;
    height: 220px; }
  .baconCheese figure img {
    width: 330px;
    height: 220px;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out; } }

@media (min-width: 1920px) {
  .baconCheese figure {
    width: 420px;
    height: 279.9px; }
  .baconCheese figure img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 65%;
  font-family: 'Glory', sans-serif !important; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.header {
  border-bottom: 1px solid #E2E8F0; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  height: 12rem; }

.hamburger {
  display: none; }

.logoPagina {
  width: 22rem; }

/* Barras opciones celular/ipad */
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #3a3333;
  z-index: 4;
  position: relative; }

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

.nav-item {
  margin-left: 5rem; }

.nav-link {
  font-size: 2rem;
  font-weight: 700;
  color: #3a3333 !important; }

.nav-link:hover {
  color: #3a3333; }

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0rem;
    flex-direction: column;
    background-color: #FFD25A;
    width: 100%;
    border-radius: 7px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 3; }
  .nav-menu.active {
    left: 0; }
  .nav-item {
    margin: 2.5rem 0; }
  .hamburger {
    display: block;
    cursor: pointer; } }

.hamburger.active .bar:nth-child(2) {
  opacity: 0; }

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg); }

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg); }

/* ----------------------- NOSOTROS -------------------- */
.nosotrosImagen figure {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width: 1270px;
  height: 610px; }

.nosotrosImagen figure img {
  width: 1270px;
  height: 610px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out; }

.nosotrosImagen figure .descriptionBurguer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 22, 22, 0.7);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center; }

.nosotrosImagen figure:hover > .descriptionBurguer {
  opacity: 1;
  visibility: visible; }

.nosotrosImagen figure:hover > .descriptionBurguer h3 {
  margin-top: 250px;
  margin-bottom: 15px; }

.nosotrosImagen figure:hover > img {
  -webkit-transform: scale(1.25);
  transform: scale(1.25); }

.nosotrosImagen figure .descriptionBurguer h3 {
  color: #fff;
  margin-bottom: 120px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out; }

.nosotrosImagen figure .descriptionBurguer p {
  color: #fff; }

.iframeMapa {
  width: 100%;
  height: 450px; }

@media (min-width: 360px) and (max-width: 767px) {
  .nosotrosImagen figure .descriptionBurguer {
    font-size: 1.6rem; }
  .nosotrosImagen figure {
    width: 360px;
    height: 300px;
    margin-bottom: 60px;
    margin-left: 2.7rem; }
  .nosotrosImagen figure img {
    height: 100%;
    width: 100%; }
  .nosotrosImagen figure:hover > .descriptionBurguer p {
    margin-top: 20px;
    margin-bottom: 15px; }
  .nosotrosImagen figure:hover > .descriptionBurguer h3 {
    margin-top: 50px;
    margin-bottom: 10px; } }

@media (min-width: 768px) {
  .nosotrosImagen figure .descriptionBurguer {
    font-size: 2rem; }
  .nosotrosImagen figure {
    position: relative;
    width: 700px;
    height: 600px;
    margin-top: 15px;
    margin-bottom: 35px;
    margin-left: 35px; }
  .nosotrosImagen figure img {
    height: 100%;
    width: 100%; }
  .nosotrosImagen figure:hover > .descriptionBurguer p {
    margin-top: 2rem; }
  .nosotrosImagen figure:hover > .descriptionBurguer h3 {
    margin-top: 20rem;
    margin-bottom: 15px; } }

@media (width: 1280px) {
  .nosotrosImagen figure .descriptionBurguer {
    font-size: 2rem; }
  .nosotrosImagen figure {
    width: 1030px;
    height: 550px;
    margin-top: 15px;
    margin-bottom: 35px;
    margin-left: 11rem; }
  .nosotrosImagen figure img {
    height: 100%;
    width: 100%; }
  .nosotrosImagen figure:hover > .descriptionBurguer p {
    margin-top: 2rem; }
  .nosotrosImagen figure:hover > .descriptionBurguer h3 {
    margin-top: 20rem;
    margin-bottom: 25px; } }

@media (min-width: 1281px) and (max-width: 1366px) {
  .nosotrosImagen figure {
    width: 1130px;
    height: 600px;
    margin-top: 15px;
    margin-bottom: 35px;
    margin-left: 9rem; }
  .nosotrosImagen figure img {
    height: 100%;
    width: 100%; }
  .nosotrosImagen figure:hover > .descriptionBurguer p {
    margin-top: 4rem; }
  .nosotrosImagen figure:hover > .descriptionBurguer h3 {
    margin-top: 25rem;
    margin-bottom: 35px; } }

@media (min-width: 1439px) {
  .nosotrosImagen figure {
    margin-left: 120px;
    width: 1170px;
    height: 630px;
    margin-top: 15px;
    margin-bottom: 35px; }
  .nosotrosImagen figure img {
    height: 100%;
    width: 100%; } }

@media (min-width: 1900px) {
  .nosotrosImagen figure .descriptionBurguer {
    font-size: 2.2rem; }
  .nosotrosImagen figure {
    width: 1400px;
    height: 700px;
    margin-top: 15px;
    margin-bottom: 35px;
    margin-left: 240px; }
  .nosotrosImagen figure:hover > .descriptionBurguer p {
    margin-top: 4rem; }
  .nosotrosImagen figure:hover > .descriptionBurguer h3 {
    margin-top: 25rem;
    margin-bottom: 35px; } }

/* ----------------------- SOCIAL BAR ICONS ------------------------- */
.socialBar {
  position: fixed;
  right: 0;
  top: 35%;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  z-index: 100; }

.icon {
  color: #fff;
  text-decoration: none;
  padding: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.icon-facebook {
  background: #2E406E;
  border-radius: 1rem 0 0 0; }

.icon-twitter {
  background: #339DC5; }

.icon-instagram {
  background: #E1306C;
  border-radius: 0 0 0 1rem; }

.icon:hover {
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
  text-overflow: ellipsis !important;
  color: white !important; }

/* -------------------- ERROR 404 ------------------- */
.contenedorError {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center; }

.imgError {
  width: 100%;
  height: 100%; }

.h1Error {
  color: #6F5F52;
  position: absolute;
  margin-top: 320px; }

button {
  background: none;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

a {
  color: #6F5F52;
  font-weight: 800; }

a:active {
  color: #000000; }

.botonError {
  padding: 15px 30px;
  border-radius: 15px;
  border: none;
  background-color: #FFD25A;
  position: absolute;
  margin-top: 470px;
  cursor: pointer;
  box-shadow: 0px 3px 15px 3px rgba(0, 0, 0, 0.2); }

.botonError:hover {
  background-color: #dab24e;
  transition: all 600ms ease-out; }

.inicioError {
  text-decoration: none;
  border: none;
  right: 420px; }
