/* -------------------- CONTACTO ------------------- */
.formularioContacto {
  background-color: #3a3333; }

.labelContacto {
  color: #fff; }

.divContacto {
  font-size: 1.9em;
  color: #fff;
  padding: 20px;
  background-color: #3a3333; }

.fieldsetContacto {
  padding: 20px;
  margin-left: 10px; }

form {
  background-color: #3a3333;
  border-radius: 3px;
  color: #999;
  font-size: 0.85em;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left; }

input, textarea {
  border: 0;
  border-radius: 5px;
  outline: none;
  resize: none;
  width: 50%; }

textarea {
  height: 120px; }

.contactoImagen {
  position: absolute;
  width: 48%; }

.imgContacto {
  display: flex;
  justify-content: right;
  align-items: right;
  position: relative;
  top: 60px; }

.fieldContacto {
  border: solid 1px #ccc;
  padding: 10px; }

.fieldContacto:focus {
  border-color: #000000; }

.buttonContacto {
  display: flex;
  align-items: center;
  justify-content: center; }

.inputContacto {
  color: #3a3333;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  background-color: #FFD25A;
  cursor: pointer;
  box-shadow: 0px 3px 15px 3px rgba(0, 0, 0, 0.2);
  width: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center; }

.inputContacto:hover {
  color: #000000;
  background-color: #be9c44;
  transition: all ease-in-out 600ms; }

@media screen and (max-width: 600px) {
  input, textarea {
    border: 0;
    border-radius: 5px;
    outline: none;
    resize: none;
    width: 100%;
    background-image: url(../images/contacto.svg);
    background-size: auto; }
  .contactoImagen {
    display: none; } }

/* ----------- ENCUESTA & CONTACTO TEXTAREA ------------- */
.textArea textarea {
  resize: none; }

.campoEncuesta {
  margin: 20px;
  background-color: #3a3333; }

/* ------------------------ FOOTER ------------------------ */
.rightsReserved {
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Glory', sans-serif !important;
  color: #fff;
  font-size: 1.1em; }

footer {
  background-color: #3a3333; }

@media screen and (max-width: 600px) {
  .rightsReserved {
    font-size: 0.9rem; } }

/* ---------- GENERAL ---------- */
header {
  background-color: #FFD25A; }

main {
  background-color: #FFD25A; }

body {
  font-family: 'Glory', sans-serif !important;
  margin: 0px;
  width: 100%; }

/* ------------- INDEX ----------- */
.nuestrasHamburguesas {
  color: #fff;
  font-size: 1.3em;
  padding: 20px; }

.hrHamburguesas {
  border-color: #FFD25A !important;
  background-color: #FFD25A !important;
  opacity: 5 !important;
  display: block !important;
  unicode-bidi: -webkit-isolate !important;
  unicode-bidi: isolate !important;
  -webkit-margin-before: 0.5em !important;
  margin-block-start: 0.5em !important;
  -webkit-margin-after: 0.5em !important;
  margin-block-end: 0.5em !important;
  -webkit-margin-start: auto !important;
  margin-inline-start: auto !important;
  -webkit-margin-end: auto !important;
  margin-inline-end: auto !important;
  overflow: hidden !important;
  border-style: inset !important;
  border-width: 1px !important; }

.burguersIndex {
  font-family: 'Glory', sans-serif;
  font-size: 23px;
  background-color: #3a3333; }

.imagenIndex {
  margin: 40px;
  margin-right: 35px;
  margin-top: 30px;
  width: 300px;
  height: 200px; }

.carouselImage {
  width: 100%;
  height: 47rem; }

.carousel-inner {
  height: 47rem; }

/* ----------------- INFORMATION ----------------- */
.informacionAdicional {
  background-color: #FF785A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 60px; }

.telefonoLugar {
  color: #3a3333;
  margin: 25px;
  font-weight: 700; }

.correoLugar {
  color: #3a3333;
  font-weight: 700; }

.ubicacionLugar {
  color: #3a3333;
  margin: 25px;
  font-weight: 700; }

@media screen and (max-width: 600px) {
  .informacionAdicional {
    font-size: 0.9rem; } }

/* ---------- MENU -------- */
.hamburguesaMenu {
  background-color: #3a3333;
  color: #fff; }

.hrOpciones {
  border-color: #FFD25A !important; }

.nuestrasOpciones {
  background-color: #3a3333;
  padding: 20px; }

.opcionesSizeMenu {
  font-size: 1.6em;
  color: #fff;
  text-align: left; }

.baconCheese {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.baconCheese figure {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 15px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 15px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width: 300px;
  height: 200px;
  right: 30px; }

.baconCheese figure img {
  width: 300px;
  height: 200px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out; }

.baconCheese figure .descriptionBurguer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 22, 22, 0.7);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center; }

.baconCheese figure:hover > .descriptionBurguer {
  opacity: 1;
  visibility: visible; }

.baconCheese figure:hover > .descriptionBurguer h3 {
  margin-top: 70px;
  margin-bottom: 15px; }

.baconCheese figure:hover > img {
  -webkit-transform: scale(1.25);
  transform: scale(1.25); }

.baconCheese figure .descriptionBurguer h3 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 120px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out; }

.baconCheese figure .descriptionBurguer p {
  color: #fff;
  font-weight: 300; }

.baconCheese figure .descriptionBurguer .veggieBurguer {
  color: #07d300; }

/* GRID NUESTRAS OPCIONES */
.baconCheese {
  font-family: 'Glory', sans-serif;
  background-color: #3a3333;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(3, 1fr);
  /*                        */ }

@media screen and (max-width: 600px) {
  .baconCheese figure img {
    height: 11.8rem;
    width: 23rem; } }

/* ------------------------ NAV ------------------------ */
.menu {
  background: #FFD25A;
  height: 4rem;
  position: relative; }

.menu ol {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  font-weight: 600; }

.menu > ol {
  max-width: 1000px;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu > ol > .menu-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0.75rem 0; }

.menu > ol > .menu-item:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  bottom: 5px;
  left: calc(50% - 2px);
  background: #3a3333;
  will-change: transform;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease; }

.menu > ol > .menu-item:hover:after {
  -webkit-transform: scale(1);
  transform: scale(1); }

.menu-item {
  position: relative;
  line-height: 2.5rem;
  text-align: center; }

.menu-item a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  color: #000 !important;
  font-weight: 600;
  cursor: pointer; }

.sub-menu .menu-item {
  padding: 0.75rem 0;
  background: #FFD25A;
  opacity: 0;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-animation: enter 0.2s ease forwards;
  animation: enter 0.2s ease forwards;
  cursor: pointer; }

.sub-menu .menu-item:nth-child(1) {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.sub-menu .menu-item:nth-child(2) {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sub-menu .menu-item:nth-child(3) {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sub-menu .menu-item:hover {
  background: #3a3333; }

.sub-menu .menu-item a {
  padding: 0 0.75rem; }

@media screen and (max-width: 576px) {
  .sub-menu .menu-item {
    background: #3a3333; }
  figure {
    width: 200px;
    height: 200px;
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 6;
    grid-column: 6;
    right: 67px; }
  figure > img {
    padding-right: 90px !important; }
  .descriptionBurguer > h3 {
    font-size: 17px; }
  .descriptionBurguer > p {
    font-size: 14px; } }

@media screen and (max-width: 576px) {
  .menu {
    display: block; }
  .menu:after {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    right: 1rem;
    width: 30px;
    height: 4px;
    background: #FFF;
    -webkit-box-shadow: 0 10px #FFF, 0 -10px #FFF;
    box-shadow: 0 10px #FFF, 0 -10px #FFF;
    z-index: 1; }
  .menu > ol {
    display: none;
    background: #FFD25A;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 101vh;
    -webkit-animation: fade 0.2s ease-out;
    animation: fade 0.2s ease-out; }
  .menu > ol > .menu-item {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    opacity: 0;
    -webkit-animation: enter 0.3s ease-out forwards;
    animation: enter 0.3s ease-out forwards; }
  .menu > ol > .menu-item:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
  .menu > ol > .menu-item:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
  .menu > ol > .menu-item:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .menu > ol > .menu-item:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .menu > ol > .menu-item:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
  .menu > ol > .menu-item + .menu-item {
    margin-top: 0.75rem; }
  .menu > ol > .menu-item:after {
    left: auto;
    right: 1rem;
    bottom: calc(50% - 2px); }
  .menu > ol > .menu-item:hover {
    z-index: 1; }
  .menu:hover > ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 1;
    width: 100%; }
  .menu:hover:after {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .carousel-indicators, .carousel-control-prev-icon,
  .carousel-control-next {
    display: none;
    visibility: hidden; } }

.sub-menu {
  position: absolute;
  width: 100%;
  top: 100%;
  display: none;
  z-index: 1; }

.menu-item:hover > .sub-menu {
  display: block; }

@media screen and (max-width: 576px) {
  .sub-menu {
    width: 96.6vw;
    left: -2rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 120%; }
  .logoPagina {
    left: 4rem;
    padding-bottom: 20px; } }

html, body {
  font-size: 17px;
  font-family: "Glory", monospace;
  margin: 0;
  background: #3a3333; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

a {
  text-decoration: none !important; }

@-webkit-keyframes enter {
  from {
    opacity: 0;
    -webkit-transform: scaleY(0.98) translateY(10px);
    transform: scaleY(0.98) translateY(10px); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes enter {
  from {
    opacity: 0;
    -webkit-transform: scaleY(0.68) translateY(3px);
    transform: scaleY(0.68) translateY(3px); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

a .logoPagina {
  width: 200px;
  position: relative;
  right: 200px;
  margin-top: 6px; }

@media screen and (max-width: 1920px) {
  a .logoPagina {
    position: relative;
    right: 10rem; } }

@media screen and (max-width: 768px) {
  a .logoPagina {
    position: relative;
    right: 10rem; } }

/* ----------------------- NOSOTROS -------------------- */
.nosotrosImagen figure {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width: 1270px;
  height: 610px; }

.nosotrosImagen figure img {
  width: 1270px;
  height: 610px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out; }

.nosotrosImagen figure .descriptionBurguer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 22, 22, 0.7);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center; }

.nosotrosImagen figure:hover > .descriptionBurguer {
  opacity: 1;
  visibility: visible; }

.nosotrosImagen figure:hover > .descriptionBurguer h3 {
  margin-top: 250px;
  margin-bottom: 15px; }

.nosotrosImagen figure:hover > img {
  -webkit-transform: scale(1.25);
  transform: scale(1.25); }

.nosotrosImagen figure .descriptionBurguer h3 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 120px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out; }

.nosotrosImagen figure .descriptionBurguer p {
  color: #fff;
  font-weight: 300; }

.iframeMapa {
  width: 100%;
  height: 450px; }

@media screen and (max-width: 600px) {
  .nosotrosImagen figure {
    right: 1.1rem;
    width: 20rem;
    height: 15rem; }
  .nosotrosImagen figure img {
    height: 100%;
    width: 200%; }
  .nosotrosImagen figure:hover > .descriptionBurguer h3 {
    margin: auto;
    font-size: auto; }
  .nosotrosImagen figure .descriptionBurguer p {
    font-size: auto; }
  .nosotrosImagen figure:hover > .descriptionBurguer h3 {
    margin-top: 4rem;
    margin-bottom: 0.3rem; } }

/* ----------------------- SOCIAL BAR ICONS ------------------------- */
.socialBar {
  position: fixed;
  right: 0;
  top: 35%;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  z-index: 100; }

.icon {
  color: #fff;
  text-decoration: none;
  padding: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.icon-facebook {
  background: #2E406E;
  border-radius: 1rem 0 0 0; }

.icon-twitter {
  background: #339DC5; }

.icon-instagram {
  background: #E1306C;
  border-radius: 0 0 0 1rem; }

.icon:hover {
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
  text-overflow: ellipsis !important;
  color: white !important; }

/* -------------------- ERROR 404 ------------------- */
.contenedorError {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center; }

.imgError {
  width: 100%;
  height: 100%; }

.h1Error {
  color: #6F5F52;
  position: absolute;
  margin-top: 320px; }

button {
  background: none;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

a {
  color: #6F5F52;
  font-weight: 800; }

a:active {
  color: #000000; }

.botonError {
  padding: 15px 30px;
  border-radius: 15px;
  border: none;
  background-color: #FFD25A;
  position: absolute;
  margin-top: 470px;
  cursor: pointer;
  box-shadow: 0px 3px 15px 3px rgba(0, 0, 0, 0.2); }

.botonError:hover {
  background-color: #dab24e;
  transition: all 600ms ease-out; }

.inicioError {
  text-decoration: none;
  border: none;
  right: 420px; }
