/* -------------------- CONTACTO ------------------- */
.formularioContacto {
    background-color: #3a3333;
  }
  
  .labelContacto {
    color: #fff;
  }
  
  .divContacto {
    font-size: 1.9em;
    color: #fff;
    padding: 20px;
    background-color: #3a3333;
  }
  
  .fieldsetContacto {
    padding: 20px;
    margin-left: 10px;
  }