/* -------------------- CONTACTO ------------------- */
.formularioContacto {
    background-color: #3a3333;
  }
  
  .labelContacto {
    color: #fff;
    
  }
  
  .divContacto {
    font-size: 1.9em;
    color: #fff;
    padding: 20px;
    background-color: #3a3333;
  }
  
  .fieldsetContacto {
    padding: 20px;
    margin-left: 10px;
  }
  
form{
			background-color: #3a3333;
			border-radius: 3px;
			color: #999;
			font-size: 1.85rem;
			padding: 20px;
			margin: 0 auto;
			display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: left;
		}

		input, textarea{
			border: 0;
      border-radius: 5px;
			outline: none;
      resize: none;
			width: 50%;
		}
    textarea{
      height: 120px;
    }

    .contactoImagen{
      position: absolute;
      width: 48%;
    }

		.fieldContacto{
			border: solid 1px #ccc;
			padding: 10px;
		}

		.fieldContacto:focus{
			border-color: #000000;
		}

    .buttonContacto{
    display: flex;
    align-items: center;
    justify-content: center;
    }

  .inputContacto{
    color: #3a3333;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    background-color: #FFD25A;
    cursor: pointer;
    box-shadow: 0px 3px 15px 3px rgba(0, 0, 0, 0.2);
    width: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inputContacto:hover{
    color: #000000;
    background-color: #be9c44;
    transition: all ease-in-out 600ms;
  }

  .divContacto {
    font-size: 3.5rem;
    text-align: center;
  }

  @media screen and (max-width: 768px){
    input, textarea{
			border: 0;
      border-radius: 5px;
			outline: none;
      resize: none;
			width: 100%;
      background-image: url(../images/contacto.svg);
      background-size: auto;
    }
    .contactoImagen{
      display: none;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    
    input, textarea{
			border: 0;
      border-radius: 5px;
			outline: none;
      resize: none;
			width: 100%;
      background-image: url(../images/contacto.svg);
      background-size: auto;
      margin-top: 40px;
    }

    form {
      font-size: 2rem;
    }

    .fieldContacto {
      height: 60px;
    }

    .buttonContacto {
      margin-bottom: 10px;
    }

    .contactoImagen{
      display: none;
    }
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    
    .imgContacto {
      margin-left: 630px;
      position: relative;
      top: 140px;
    }

    .contactoImagen {
      height: 300px;
      width: 560px;
    }
  }

  @media (min-width: 1281px) and (max-width: 1366px) {
    .imgContacto{
      display: flex;
      justify-content: right;
      align-items: right;
      position: relative;
      top: 75px;
    }
  }

  @media (min-width: 1367px) and (max-width: 1440px) {
    
    .imgContacto {
      margin-left: 770px;
      position: relative;
      top: 140px;
    }

    .contactoImagen {
      height: 300px;
      width: 560px;
    }
  }

  @media (min-width: 1441px) and (max-width: 1920px) {
    
    .imgContacto {
      margin-left: 1000px;
      position: relative;
      top: 12px;
    }

    .contactoImagen {
      height: 600px;
      width: 860px;
    }

    form {
      font-size: 20px;
    }
  }