/* ---------- GENERAL ---------- */
header {
    background-color: #FFD25A;
  }
  
  main {
    background-color: #FFD25A;
  }
  
  body {
    font-family: 'Glory', sans-serif !important;
    margin: 0px;
    width: 100%;
  }
